@use 'stye.scss';

$box-shadows:rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
$background-color: #800000;
$font-color: #D3D3D3;


.class userInput{
    box-shadow: $box-shadows;
}

main {
    background-color: $background-color;
    display: flex;
    color: $font-color;
}