$box-shadows: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
$background-color: #ED1D09;
$font-color: #D3D3D3;
$font-style: "Gill Sans", sans-serif;


main {
    background-color: $background-color;
    font-family: $font-style;
    color: $font-color;
    box-shadow: $box-shadows;
}

.top-pic{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}

.top-pic img{
    box-shadow: $box-shadows;
    border: 5px solid white;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders{
    display: flex;
    flex-direction: row;
}

.order-del{
    padding: 10px;
}
.order-carry{
    padding: 10px;
}

button{
    border-radius: 10px;
}

.about{
    padding: 15px;
}
.chef{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.chef img{
    border: 15px double maroon;
    box-shadow: $box-shadows;
}

.owner{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.delivery, .carryout{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: whitesmoke;
    background-color: #9b2424;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(72, 72, 72);
}

.delivery:hover, .carryout:hover {
    background-color: #bd1d1d
}

.delivery:active, .carryout:active {
    background-color: #7b0909;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}