$primarycolor: white;
$thecolor: black;


.navigation {
    display: flex;
    flex-direction: column;
    background-color: $primarycolor;
    color: $thecolor;
    width: 100%;
    margin-bottom: 10px;
}
 .link-box{
    width: fit-content;
    display: flex;
    align-self: flex-end;
    a {
        border-bottom: 3px solid rgba(255, 255, 255, 0);
        padding: 10px;
        margin: 5px;
        display: inherit;
        text-decoration: none;
        color: black;
    }
}
a:hover {
    border-bottom: 3px solid red;
}
.navlink {
    padding: 5px 0;
    height:fit-content;
}
.logo-box {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}
.order {
    margin-right: 50px;
    font-size: 28px;
    color: black;
    height: fit-content;
    text-decoration: none;
}
.order:hover {
    border-bottom: 3px solid red;
}
.logo {
    border-radius: 50%;
}