$primarycolor: white;
$thecolor: black;

.navigation {
    display: flex;
    flex-direction: column;
    background-color: $primarycolor;
    color: $thecolor;
    width: 100%;
}
 .nav-link-box{
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    a {
        text-decoration: none;
        display: inline;
        color: black;
    }
}
