$primarycolor: white;
$thecolor: black;

.navigation {
    display: flex;
    flex-direction: column;
    background-color: $primarycolor;
    color: $thecolor;
    width: 100%;
}
 .link-box{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    a {
        display: inherit;
        justify-content: flex-end;
        text-decoration: none;
        margin: 0 20px;
        color: black;
    }
}
a:hover {
    border-bottom: 3px solid red;
}
.navlink {
    height:fit-content;
}
.logo-box {
    display: flex;
    justify-content: space-between;
}
.order {
    margin-right: 50px;
    font-size: 28px;
    color: black;
    height: fit-content;
    text-decoration: none;
}
.order:hover {
    border-bottom: 3px solid red;
}
